# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# Memory Images - Don't push personal photos to git
assets/images/memmory/
assets/images/memmory/*
*.jpg
*.jpeg
*.png
*.gif
*.webp

# Keep example images but ignore memory photos
!assets/images/adaptive-icon.png
!assets/images/favicon.png
!assets/images/icon.png
!assets/images/partial-react-logo.png
!assets/images/react-logo.png
!assets/images/react-logo@2x.png
!assets/images/react-logo@3x.png
!assets/images/splash-icon.png
!assets/images/sun_kastl.jpg
!assets/images/svgviewer-output.svg

app-example
